.searchContainer {
  background: $primaryColor;
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 75px;

  .titleContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .logo {
      width: 55px;
    }

    //This will need a media-query to collapse at smaller screen sizes
    .title {
      font-family: Verdana, Geneva, sans-serif;
      color: #fffff1;
      font-size: 23px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .search {
    display: flex;
  }
}
