.resultsContainer {
  background: $background;
  width: 100%;
  height: auto;
  position: relative;
  top: 52+75px;

  .storyContainer {
    font-size: 18px;
    height: 65px;
    padding-left: 20px;
    border-bottom: 1px solid #8d7669;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .storyInfo {
      font-size: 12px;
      color: #8d7669;
      width: auto;
      display: flex;

      div {
        margin-right: 10px;
        margin-top: 10px;
      }
    }
  }

  .btnContainer {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3px;
      margin-right: 5px;
      border: 1px solid black;
      border-radius: 4px;
      padding: 6px 12px;
    }

    .nextPage {
      margin-left: 5px;
    }
  }
}
