.settingsContainer{
    background: pink;
    height:100%;
    position: relative;
    top: 52+75px;

    h1{
        background: #FDFDFD;
        font-size: 1.5rem;
        height: 50px;
        display: flex;
        align-items: center;
    }
}