@import "reset";
@import "config";
@import "media";
@import "Header";
@import "Results";
@import "Settings";

.appContainer {
  height: 100vh 52+75px;
  font-family: Verdana, Geneva, sans-serif;
  display: flex;
  flex-direction: column;

  .footerContainer {
    position: relative;
    top: 52+75px;
    height: 75px;
  
    ul {
      margin-top: 13px;
      display: flex;
      justify-content: center;
  
      li {
        margin: 3px;
      }
    }
  }
}

